Repository adamzwasserman/multicardz: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-no-classes, validate-set-theory, validate-javascript, validate-immutability, validate-imports, validate-two-tier

validate-no-classes:
  name: Architectural Purity - No Classes
  entry: python scripts/validate_no_classes.py
  language: system

validate-set-theory:
  name: Architectural Purity - Set Theory Only
  entry: python scripts/validate_set_theory.py
  language: system

validate-javascript:
  name: Architectural Purity - Minimal JavaScript
  entry: python scripts/validate_javascript.py
  language: system

validate-immutability:
  name: Architectural Purity - Immutability
  entry: python scripts/validate_immutability.py
  language: system

validate-imports:
  name: Architectural Purity - Import Control
  entry: python scripts/validate_imports.py
  language: system

validate-two-tier:
  name: Architectural Purity - Two-Tier Cards
  entry: python scripts/validate_two_tier.py
  language: system

feat(public): implement landing page content migration from HTML
  apps/public/services/content_migration.py
  apps/public/tests/conftest.py
  apps/public/tests/features/content_migration.feature
  apps/public/tests/fixtures/migration_fixtures.py
  apps/public/tests/step_defs/test_content_migration.py
  docs/implementation/032-2025-10-22-multicardz-Public-Website-Implementation-Plan-v1.md
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat(public): add migration execution script and tests
  apps/public/scripts/run_migration.py
  apps/public/tests/features/migration_execution.feature
  apps/public/tests/step_defs/test_migration_execution.py
  docs/implementation/032-2025-10-22-multicardz-Public-Website-Implementation-Plan-v1.md
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: create FastAPI public website application
  apps/public/main.py
  apps/public/pyproject.toml
  apps/public/tests/conftest.py
  apps/public/tests/features/fastapi_app.feature
  apps/public/tests/fixtures/fastapi_fixtures.py
  apps/public/tests/step_defs/test_fastapi_app.py
  docs/implementation/032-2025-10-22-multicardz-Public-Website-Implementation-Plan-v1.md
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: add Pydantic models for public website
  apps/public/models/__init__.py
  apps/public/models/analytics.py
  apps/public/models/landing_page.py
  apps/public/tests/conftest.py
  apps/public/tests/features/pydantic_models.feature
  apps/public/tests/fixtures/model_fixtures.py
  apps/public/tests/step_defs/test_pydantic_models.py
  docs/implementation/032-2025-10-22-multicardz-Public-Website-Implementation-Plan-v1.md
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: implement landing page GET routes by slug
  apps/public/main.py
  apps/public/routes/landing_pages.py
  apps/public/services/landing_page_service.py
  apps/public/tests/conftest.py
  apps/public/tests/features/landing_page_routes.feature
  apps/public/tests/fixtures/fastapi_fixtures.py
  apps/public/tests/fixtures/route_fixtures.py
  apps/public/tests/step_defs/test_landing_page_routes.py
  docs/implementation/032-2025-10-22-multicardz-Public-Website-Implementation-Plan-v1.md
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: implement A/B test assignment logic with deterministic variant selection
  apps/public/services/ab_test_service.py
  apps/public/tests/conftest.py
  apps/public/tests/features/ab_test_assignment.feature
  apps/public/tests/fixtures/ab_test_fixtures.py
  apps/public/tests/step_defs/test_ab_test_assignment.py
  docs/implementation/032-2025-10-22-multicardz-Public-Website-Implementation-Plan-v1.md
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: implement smart routing by referrer detection
  apps/public/services/smart_routing_service.py
  apps/public/tests/conftest.py
  apps/public/tests/features/smart_routing.feature
  apps/public/tests/fixtures/smart_routing_fixtures.py
  apps/public/tests/step_defs/test_smart_routing.py
  docs/implementation/032-2025-10-22-multicardz-Public-Website-Implementation-Plan-v1.md
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: implement Jinja2 template rendering with fallback
  apps/public/services/template_service.py
  apps/public/tests/conftest.py
  apps/public/tests/features/template_rendering.feature
  apps/public/tests/fixtures/template_fixtures.py
  apps/public/tests/step_defs/test_template_rendering.py
  docs/implementation/032-2025-10-22-multicardz-Public-Website-Implementation-Plan-v1.md
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

docs: add Phase 4 completion summary with comprehensive metrics
  docs/implementation/032-2025-10-22-multicardz-Public-Website-Implementation-Plan-v1.md
Due: none

feat: implement analytics and mouse tracking JavaScript
  apps/public/static/js/analytics.js
  apps/public/static/js/mouse-tracking.js
  apps/public/tests/conftest.py
  apps/public/tests/features/core_analytics_js.feature
  apps/public/tests/features/mouse_tracking_js.feature
  apps/public/tests/fixtures/analytics_js_fixtures.py
  apps/public/tests/fixtures/mouse_tracking_fixtures.py
  apps/public/tests/step_defs/test_core_analytics_js.py
  apps/public/tests/step_defs/test_mouse_tracking_js.py
  docs/implementation/032-2025-10-22-multicardz-Public-Website-Implementation-Plan-v1.md
Due: validate-no-classes, validate-set-theory, validate-javascript, validate-immutability, validate-imports, validate-two-tier

feat: complete Phase 5 analytics JavaScript implementation
  apps/public/static/js/conversion-tracking.js
  apps/public/tests/conftest.py
  apps/public/tests/features/analytics_integration.feature
  apps/public/tests/features/conversion_tracking_js.feature
  apps/public/tests/fixtures/conversion_tracking_fixtures.py
  apps/public/tests/fixtures/integration_fixtures.py
  apps/public/tests/step_defs/test_analytics_integration.py
  apps/public/tests/step_defs/test_conversion_tracking_js.py
  docs/implementation/032-2025-10-22-multicardz-Public-Website-Implementation-Plan-v1.md
  tests/api/test_drag_drop_api.py
  tests/features/database_storage.feature
  tests/playwright/test_real_mouse_interactions.py
  tests/step_definitions/test_set_operations_steps.py
  tests/test_registry_performance_validation.py
  tests/test_set_operations_performance.py
Due: validate-no-classes, validate-set-theory, validate-javascript, validate-immutability, validate-imports, validate-two-tier

feat: implement Analytics API server-side endpoints
  apps/public/main.py
  apps/public/models/analytics.py
  apps/public/routes/analytics.py
  apps/public/tests/conftest.py
  apps/public/tests/features/page_view_api.feature
  apps/public/tests/features/session_api.feature
  apps/public/tests/fixtures/api_fixtures.py
  apps/public/tests/step_defs/test_session_api.py
  apps/public/tests/test_analytics_api_smoke.py
  docs/implementation/032-2025-10-22-multicardz-Public-Website-Implementation-Plan-v1.md
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: implement A/B test results calculation service (Phase 7)
  apps/public/services/ab_test_service.py
  apps/public/tests/conftest.py
  apps/public/tests/features/ab_test_results.feature
  apps/public/tests/fixtures/ab_results_fixtures.py
  apps/public/tests/step_defs/test_ab_test_results.py
  docs/implementation/032-2025-10-22-multicardz-Public-Website-Implementation-Plan-v1.md
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: implement admin dashboard overview page (Phase 9.1)
  apps/public/main.py
  apps/public/routes/admin.py
  apps/public/services/dashboard_service.py
  apps/public/templates/admin/dashboard.html
  apps/public/tests/fixtures/admin_fixtures.py
  apps/public/tests/test_admin_dashboard_simple.py
  docs/implementation/032-2025-10-22-multicardz-Public-Website-Implementation-Plan-v1.md
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

test: add missing admin dashboard feature file
  apps/public/tests/features/admin_dashboard.feature
Due: none

feat: implement conversion integration webhooks
  apps/public/main.py
  apps/public/migrations/versions/20251023_2008_3de712318974_change_user_id_to_text.py
  apps/public/migrations/versions/20251023_2013_753380067677_make_conversion_funnel_session_id_.py
  apps/public/routes/webhooks.py
  apps/public/services/webhook_service.py
  apps/public/tests/conftest.py
  apps/public/tests/features/auth0_webhook.feature
  apps/public/tests/fixtures/auth0_webhook_fixtures.py
  apps/public/tests/step_defs/test_auth0_webhook.py
  docs/implementation/032-2025-10-22-multicardz-Public-Website-Implementation-Plan-v1.md
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: implement funnel stage tracking service
  apps/public/main.py
  apps/public/routes/funnel.py
  apps/public/services/funnel_service.py
  apps/public/tests/conftest.py
  apps/public/tests/features/funnel_tracking.feature
  apps/public/tests/fixtures/funnel_tracking_fixtures.py
  apps/public/tests/step_defs/test_funnel_tracking.py
  docs/implementation/032-2025-10-22-multicardz-Public-Website-Implementation-Plan-v1.md
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat(performance): add database performance indexes (Task 11.1)
  apps/public/migrations/versions/20251023_2107_04d50b17eb09_add_performance_indexes.py
  apps/public/tests/conftest.py
  apps/public/tests/features/performance_indexes.feature
  apps/public/tests/fixtures/performance_fixtures.py
  apps/public/tests/step_defs/test_performance_indexes.py
  docs/implementation/032-2025-10-22-multicardz-Public-Website-Implementation-Plan-v1.md
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat(performance): add load testing framework (Task 11.2)
  apps/public/routes/funnel.py
  apps/public/tests/conftest.py
  apps/public/tests/features/load_testing.feature
  apps/public/tests/fixtures/load_testing_fixtures.py
  apps/public/tests/step_defs/test_load_testing.py
  data/multicardz_dev.db
  docs/implementation/032-2025-10-22-multicardz-Public-Website-Implementation-Plan-v1.md
  uv.lock
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat(testing): add end-to-end integration validation (Task 11.3)
  apps/public/tests/features/end_to_end_validation.feature
  apps/public/tests/step_defs/test_end_to_end_validation.py
  docs/implementation/032-2025-10-22-multicardz-Public-Website-Implementation-Plan-v1.md
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

docs: complete Phase 11 and mark implementation 100% complete
  docs/implementation/032-2025-10-22-multicardz-Public-Website-Implementation-Plan-v1.md
Due: none

fix: correct import paths for public website application
  apps/public/main.py
  apps/public/routes/admin.py
  apps/public/routes/analytics.py
  apps/public/routes/funnel.py
  apps/public/routes/landing_pages.py
  apps/public/routes/webhooks.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

fix: render landing pages as HTML instead of JSON
  apps/public/routes/landing_pages.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

fix: resolve A/B testing server-side implementation and wordmark font issues
  apps/public/main.py
  apps/public/middleware/ab_test_middleware.py
  apps/public/migrations/versions/20251024_1420_create_ab_test_tables.py
  apps/public/models/analytics.py
  apps/public/models/orm.py
  apps/public/routes/ab_testing.py
  apps/public/routes/analytics.py
  apps/public/routes/landing_pages.py
  apps/public/routes/webhooks.py
  apps/public/services/ab_test_service.py
  apps/public/services/webhook_service.py
  apps/public/static/js/ab-testing.js
  apps/public/static/js/conversion-tracking.js
  apps/public/templates/base.html
  apps/public/templates/landing_page.html
  apps/static/js/analytics.js
  apps/static/templates/components/header.html
  data/multicardz_dev.db
  docs/architecture/anonymous-to-paid-tracking.md
Due: validate-no-classes, validate-set-theory, validate-javascript, validate-immutability, validate-imports, validate-two-tier

docs: add font metric override optimization proposal
  apps/static/templates/base.html
  docs/architecture/033-2025-10-26-multicardz-Font-Metric-Override-Optimization-Proposal-v1.md
Due: none

docs: add patent enforcement strategy and multi-selection architecture
  docs/architecture/034-2025-10-26-multicardz-Multi-Selection-Drag-Drop-Architecture-v1.md
  docs/implementation/035-2025-10-26-Multi-Selection-Drag-Drop-Implementation-Plan-v1.md
  docs/patents/DRAFT_PATENT_CLAIMS_MULTI_SELECTION_2025-10-26.md
  docs/patents/PATENT_ANALYSIS_MULTI_SELECTION_2025-10-26.md
  docs/patents/PATENT_ENFORCEMENT_STRATEGY_MULTI_SELECTION_2025-10-26.md
Due: none

chore: ignore dev database file to prevent state commits
  .gitignore
Due: none

chore: remove dev database from git tracking
  data/multicardz_dev.db
Due: none

chore: protect Claude settings from git tracking
  .gitignore
Due: none

feat: implement Phase 1 multi-selection foundation
  apps/static/css/user.css
  apps/static/js/drag-drop.js
  docs/implementation/035-2025-10-26-Multi-Selection-Drag-Drop-Implementation-Plan-v1.md
Due: validate-javascript

fix: correct event target for tag click selection
  apps/static/js/drag-drop.js
Due: validate-javascript

fix: normal click now selects single tag (clearing others)
  apps/static/js/drag-drop.js
Due: validate-javascript

chore: remove zone state debug logging
  apps/static/js/drag-drop.js
Due: validate-javascript

fix: allow Shift+click to deselect anchor tag when already selected
  apps/static/js/drag-drop.js
Due: validate-javascript

fix: enable Shift+click deselection and remove duplicate methods
  apps/static/js/drag-drop.js
Due: validate-javascript

feat: implement keyboard navigation and ARIA support for multi-selection (Task 4.1)
  apps/static/js/drag-drop.js
  docs/implementation/035-2025-10-26-Multi-Selection-Drag-Drop-Implementation-Plan-v1.md
Due: validate-javascript

test: add comprehensive integration tests and Phase 5 completion (Task 5.1)
  docs/implementation/035-2025-10-26-Multi-Selection-Drag-Drop-Implementation-Plan-v1.md
  docs/implementation/PHASE_5_COMPLETION_REPORT.md
  tests/playwright/MULTI_SELECTION_TEST_GUIDE.md
  tests/playwright/test_multi_selection_integration.py
Due: validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: implement Group Tags core functionality (Phases 1-3)
  apps/shared/models/database_models.py
  apps/shared/services/group_expansion.py
  apps/shared/services/group_handlers.py
  apps/shared/services/group_storage.py
  apps/shared/services/group_visual.py
  apps/shared/static/js/group-tags.js
  apps/shared/static/styles/group-tags.css
  docs/GROUP_TAGS_IMPLEMENTATION_SUMMARY.md
  docs/architecture/035-2025-10-26-multicardz-Group-Tags-Architecture-v1.md
  docs/implementation/036-2025-10-26-Group-Tags-Implementation-Plan-v1.md
  migrations/versions/002_create_group_tags.py
  tests/features/group_expansion.feature
  tests/features/group_storage.feature
  tests/step_definitions/test_group_expansion_steps.py
  tests/step_definitions/test_group_storage_steps.py
Due: validate-no-classes, validate-set-theory, validate-javascript, validate-immutability, validate-imports, validate-two-tier

feat: implement Group Tags API and UI integration (Phases 4-5)
  apps/shared/static/styles/group-tags.css
  apps/static/js/group-ui-integration.js
  apps/user/main.py
  apps/user/routes/__init__.py
  apps/user/routes/group_tags_api.py
  scripts/validate_imports.py
  tests/api/test_group_tags_api.py
Due: validate-no-classes, validate-set-theory, validate-javascript, validate-immutability, validate-imports, validate-two-tier

Path conditions:
  validate-no-classes: any of: \.py$, but not: ^(tests/|apps/shared/models/)
  validate-set-theory: any of: \.py$
  validate-javascript: any of: \.(js|ts)$
  validate-immutability: any of: \.py$
  validate-imports: any of: \.py$
  validate-two-tier: any of: \.py$
