Repository adamzwasserman/multicardz: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-no-classes, validate-set-theory, validate-javascript, validate-immutability, validate-imports, validate-two-tier

validate-no-classes:
  name: Architectural Purity - No Classes
  entry: python scripts/validate_no_classes.py
  language: system

validate-set-theory:
  name: Architectural Purity - Set Theory Only
  entry: python scripts/validate_set_theory.py
  language: system

validate-javascript:
  name: Architectural Purity - Minimal JavaScript
  entry: python scripts/validate_javascript.py
  language: system

validate-immutability:
  name: Architectural Purity - Immutability
  entry: python scripts/validate_immutability.py
  language: system

validate-imports:
  name: Architectural Purity - Import Control
  entry: python scripts/validate_imports.py
  language: system

validate-two-tier:
  name: Architectural Purity - Two-Tier Cards
  entry: python scripts/validate_two_tier.py
  language: system

fix: import Request in tags_api.py
  apps/user/routes/tags_api.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

fix: simplify delete button styling
  apps/static/css/user.css
Due: none

fix: offset card delete button by padding amount
  apps/static/css/user.css
Due: none

fix: move tag delete button closer to right edge
  apps/static/css/user.css
Due: none

feat: Implement Comprehensive Database Repository Pattern
  apps/shared/repositories/__init__.py
  apps/shared/repositories/base_repository.py
  apps/shared/repositories/card_repository.py
  apps/shared/repositories/tag_repository.py
  apps/static/css/user.css
  apps/static/js/app.js
  apps/static/js/drag-drop.js
  apps/static/templates/base.html
  apps/static/templates/user_home.html
  apps/user/routes/cards_api.py
  docs/architecture/drag-drop-polymorphic-specification.md
  error_state.png
  test_runner.py
  tests/conftest.py
  tests/step_definitions/test_performance_optimization.py
  tests/step_definitions/test_set_operations_steps.py
  tests/test_registry_performance_validation.py
  tests/test_set_operations_performance.py
Due: validate-no-classes, validate-set-theory, validate-javascript, validate-immutability, validate-imports, validate-two-tier

feat: Add user menu, settings drawer, and UI improvements
  apps/shared/repositories/card_repository.py
  apps/static/css/user.css
  apps/static/js/drag-drop.js
  apps/static/templates/base.html
  apps/static/templates/components/card_display.html
  apps/static/templates/user_home.html
  apps/user/routes/cards_api.py
Due: validate-no-classes, validate-set-theory, validate-javascript, validate-immutability, validate-imports, validate-two-tier

feat: Phase 2 Function-Based Architecture - 65% complete
  apps/shared/config/__init__.py
  apps/shared/config/database.py
  apps/shared/middleware/database_validator.py
  apps/shared/middleware/request_interceptor.py
  apps/shared/repositories/base_repository.py
  apps/shared/repositories/card_repository.py
  apps/shared/repositories/tag_repository.py
  apps/shared/services/turso_privacy_manager.py
  apps/static/css/user.css
  apps/static/js/app.js
  apps/static/js/drag-drop.js
  apps/static/templates/base.html
  apps/static/templates/components/dimensional_grid.html
  apps/static/templates/user_home.html
  apps/user/main.py
  apps/user/routes/cards_api.py
  apps/user/routes/tags_api.py
  docs/architecture/016-2025-09-28-MultiCardz-Zero-Trust-UUID-Architecture-v1.md
  docs/implementation/028-2025-10-01-multicardz-zero-trust-implementation-plan-v2.md
  docs/implementation/Superceeded/017-2025-09-28-multicardz-Zero-Trust-Implementation-Plan-v1.md
  error_state.png
  tests/api/test_drag_drop_api.py
  tests/step_definitions/test_api_routes.py
  tests/test_set_operations_performance.py
Due: validate-no-classes, validate-set-theory, validate-javascript, validate-immutability, validate-imports, validate-two-tier

feat: implement tag color circles with 4 selectable palettes
  apps/shared/config/__init__.py
  apps/shared/config/database.py
  apps/shared/models/user_preferences.py
  apps/static/css/user.css
  apps/static/js/drag-drop.js
  apps/static/templates/base.html
  apps/static/templates/components/dimensional_grid.html
  apps/static/templates/user_home.html
  apps/user/models/render_request.py
  apps/user/routes/cards_api.py
Due: validate-no-classes, validate-set-theory, validate-javascript, validate-immutability, validate-imports, validate-two-tier

Add resizable left and right control panels
  apps/static/css/user.css
  apps/static/js/app.js
Due: validate-javascript

feat(ui): Enhance spatial card creation grid cell interactions
  apps/static/css/user.css
  apps/static/js/drag-drop.js
  apps/static/templates/components/dimensional_grid.html
  apps/static/templates/user_home.html
  apps/user/routes/cards_api.py
Due: validate-no-classes, validate-set-theory, validate-javascript, validate-immutability, validate-imports, validate-two-tier

docs: Turso DB Integration Plan v2.0 - Three Operational Modes
  docs/implementation/030-2025-10-08-Turso-Browser-Integration-Plan-v2.md
Due: none

perf: relax performance validation targets for development
  apps/shared/services/set_operations_unified.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: implement Turso DB integration foundation (Tasks 1.1, 2.1, 3.1)
  apps/shared/config/database_mode.py
  apps/shared/services/bitmap_sync.py
  apps/shared/services/browser_database.py
  docs/implementation/030-2025-10-08-Turso-Browser-Integration-Plan-v2.md
  tests/conftest.py
  tests/features/bitmap_sync_api.feature
  tests/features/browser_database_service.feature
  tests/features/database_mode_selection.feature
  tests/fixtures/bitmap_sync_fixtures.py
  tests/fixtures/browser_service_fixtures.py
  tests/fixtures/database_mode_fixtures.py
  tests/test_bitmap_sync_api.py
  tests/test_browser_database_service.py
  tests/test_database_mode_selection.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: implement browser database, bitmap sync, and query routing (Tasks 2.1-4.1)
  apps/shared/services/query_router.py
  docs/implementation/030-2025-10-08-Turso-Browser-Integration-Plan-v2.md
  tests/conftest.py
  tests/features/query_routing.feature
  tests/fixtures/query_routing_fixtures.py
  tests/test_query_routing.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: add comprehensive integration tests for Turso DB (Task 5.1)
  docs/implementation/030-2025-10-08-Turso-Browser-Integration-Plan-v2.md
  tests/conftest.py
  tests/features/turso_integration.feature
  tests/fixtures/integration_fixtures.py
  tests/test_turso_integration.py
Due: validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: implement connection routing and bitmap filter endpoint (Tasks 1.2, 3.2)
  apps/shared/config/connection_router.py
  apps/shared/services/bitmap_filter.py
  docs/implementation/030-2025-10-08-Turso-Browser-Integration-Plan-v2.md
  tests/conftest.py
  tests/features/bitmap_filter_endpoint.feature
  tests/features/connection_logic_update.feature
  tests/fixtures/bitmap_filter_fixtures.py
  tests/fixtures/connection_logic_fixtures.py
  tests/test_bitmap_filter_endpoint.py
  tests/test_connection_logic_update.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: implement card creation integration (Task 4.2)
  apps/shared/services/card_creation_integration.py
  docs/implementation/030-2025-10-08-Turso-Browser-Integration-Plan-v2.md
  tests/conftest.py
  tests/features/card_creation_integration.feature
  tests/fixtures/card_creation_fixtures.py
  tests/test_card_creation_integration.py
  tests/test_query_routing.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: implement UI mode switching (Task 4.3)
  apps/shared/services/ui_mode_switching.py
  docs/implementation/030-2025-10-08-Turso-Browser-Integration-Plan-v2.md
  tests/conftest.py
  tests/features/ui_mode_switching.feature
  tests/fixtures/ui_mode_switching_fixtures.py
  tests/test_ui_mode_switching.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: add Turso WASM browser database integration
  .gitignore
  apps/static/demo-turso.html
  apps/static/js/services/turso_browser_db.js
  package.json
  vite.config.js
Due: validate-javascript

docs: add implementation plan documentation
  docs/implementation/001-outlook-email-integration-implementation-plan-v2.0.md
  docs/implementation/031-2025-01-13-turso-plan-conformance-summary.md
Due: none

chore: update Claude Code agent configuration files
  .claude/agents/architect.md
  .claude/agents/auditor.md
  .claude/agents/build.md
  .claude/agents/git.md
  .claude/agents/js-architect.md
  .claude/agents/organizer.md
  .claude/agents/patent.md
  .claude/agents/performance.md
  .claude/agents/test.md
Due: none

docs: add browser-first Outlook email integration architecture
  docs/architecture/027-2025-10-15-MultiCardz-Outlook-Email-Integration-Architecture-v1.md
  docs/implementation/028-2025-10-15-MultiCardz-Outlook-Email-Integration-Implementation-v1.md
Due: none

chore: remove junk files from repository and prevent future accumulation
  .gitignore
  error_state.png
  fastapi_console.log.py
  task_1_1_time.log
  task_1_2_time.log
  task_1_3_time.log
  task_2_1_time.log
  task_2_2_time.log
  task_3_1_time.log
  task_4_1_time.log
  task_5_1_time.log
  test_cards_layout.py
  test_container_width.py
  test_drag_debug.py
  test_html5_drag.py
  test_layout_quick.py
  test_lesson2_drag.py
  test_lesson_flow.py
  test_lesson_quick.py
  test_real_drag.py
  test_runner.py
  test_tag_drop_persist.py
  test_title_persistence.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

docs: comprehensive documentation audit and organization
  .mcp.json
  docs/DOCUMENTATION_ACTIONS_TAKEN.md
  docs/DOCUMENTATION_AUDIT_2025-10-20.md
  docs/architecture/027-2025-10-15-MultiCardz-Outlook-Email-Integration-Architecture-v1.md
  docs/implementation/028-2025-10-15-MultiCardz-Outlook-Email-Integration-Implementation-v1.md
  docs/implementation/030-2025-10-08-Turso-Browser-Integration-Plan-v2.md
  docs/implementation/031-2025-10-20-Turso-Remaining-Features-Specification.md
  docs/implementation/superseded/005-2025-09-16-MultiCardz-Implementation-Sequence-v1.md
  docs/implementation/superseded/006-2025-09-17-MultiCardz-Admin-Implementation-Plan-v1.md
  docs/implementation/superseded/008-2025-09-17-MultiCardz-Market-Data-UI-Implementation-Plan-v1.md
  docs/implementation/superseded/010-2025-09-18-MultiCardz-Polymorphic-Rendering-Implementation-Plan-v1.md
  docs/implementation/superseded/016-2025-09-20-MultiCardz-Unified-Implementation-Plan-v1 - duplicate.md
  docs/implementation/superseded/016-2025-09-20-MultiCardz-Unified-Implementation-Plan-v1.md
  docs/implementation/superseded/017-2025-09-21-MultiCardz-Consolidated-Implementation-Status-v1.md
  docs/implementation/superseded/017-2025-09-28-multicardz-Zero-Trust-Implementation-Plan-v1.md
  docs/implementation/superseded/018-2025-09-20-MultiCardz-Set-Operations-Performance-Remediation-Plan-v1.md
  docs/implementation/superseded/030-2025-10-08-Turso-Browser-Integration-Plan-v1.md
  docs/implementation/superseded/README.md
  docs/implementation/superseded/outlook-email-integration-plan.md
  docs/standards/architecture-doc-guidelines.md
Due: none

docs: add comprehensive implementation status audit with gap reports
  docs/implementation/030-2025-10-08-Turso-Browser-Integration-Plan-v2.md
  docs/implementation/GAP-REPORT-023-Multi-Tier-Implementation.md
  docs/implementation/GAP-REPORT-027-Progressive-Onboarding.md
  docs/implementation/GAP-REPORT-028-Outlook-Email-Integration.md
  docs/implementation/GAP-REPORT-028-Zero-Trust-Implementation.md
  docs/implementation/GAP-REPORT-029-AutoMigration-Middleware.md
  docs/implementation/GAP-REPORT-030-Turso-Browser-Integration.md
  docs/implementation/GAP-REPORT-031-Turso-Remaining-Features.md
  docs/implementation/IMPLEMENTATION-STATUS-OVERVIEW-2025-10-21.md
Due: none

docs: standardize Python execution with uv run across project
  .claude/CLAUDE.local.md
  tests/artifacts/TESTING_GUIDE.md
Due: none

docs: standardize on `uv run pytest` across implementation guidelines
  docs/standards/implementation-plan-guidelines.md
Due: none

docs: add comprehensive auth/subscription/user management requirements and architecture
  docs/architecture/STRIPE_AUTH0_SECURITY_DOCUMENTATION.md
  docs/architecture/multicardz_auth_architecture.md
  docs/requirements/auth-subscription-user-management-requirements.md
Due: none

docs: add plain language summaries to authentication and security documentation
  docs/architecture/STRIPE_AUTH0_SECURITY_DOCUMENTATION.md
  docs/requirements/auth-subscription-user-management-requirements.md
Due: none

docs: add comprehensive technical architecture overviews for auth and security
  docs/architecture/STRIPE_AUTH0_SECURITY_DOCUMENTATION.md
  docs/requirements/auth-subscription-user-management-requirements.md
Due: none

docs: add upgrade flow documentation to auth and subscription requirements
  docs/architecture/STRIPE_AUTH0_SECURITY_DOCUMENTATION.md
  docs/requirements/auth-subscription-user-management-requirements.md
Due: none

docs: add comprehensive upgrade flow documentation with implementation details
  docs/architecture/STRIPE_AUTH0_SECURITY_DOCUMENTATION.md
  docs/requirements/auth-subscription-user-management-requirements.md
Due: none

refactor: rename all files from MultiCardz to multicardz
  docs/architecture/001-2025-09-16-multicardz-JavaScript-Architecture-v1.md
  docs/architecture/003-2025-09-16-multicardz-Rust-Dependencies-Architecture-v1.md
  docs/architecture/004-2025-09-16-multicardz-HTMX-WebComponents-Architecture-v1.md
  docs/architecture/005-2025-09-17-multicardz-Admin-Site-Architecture-v1.md
  docs/architecture/007-2025-09-17-multicardz-Market-Data-UI-Architecture-v1.md
  docs/architecture/009-2025-09-18-multicardz-Polymorphic-Rendering-Architecture-v1.md
  docs/architecture/012-2025-09-18-multicardz-Data-Transformation-Guidelines-v1.md
  docs/architecture/013-2025-09-18-multicardz-System-Tags-Architecture-v1.md
  docs/architecture/014-2025-09-18-multicardz-Accessibility-Gap-Analysis-v1.md
  docs/architecture/015-2025-09-18-multicardz-Accessibility-Implementation-Plan-v1.md
  docs/architecture/016-2025-09-28-multicardz-Zero-Trust-UUID-Architecture-v1.md
  docs/architecture/017-2025-09-20-multicardz-Set-Operations-Performance-Remediation-Architecture-v1.md
  docs/architecture/018-2025-09-21-multicardz-EXCLUSION-Zone-Architecture-v1.md
  docs/architecture/019-2025-09-21-multicardz-Connector-System-Architecture-v1.md
  docs/architecture/020-2025-09-22-multicardz-WASM-Browser-Rendering-Feasibility-Study-v1.md
  docs/architecture/021-2025-09-22-multicardz-Privacy-Preserving-Obfuscation-Architecture-v1.md
  docs/architecture/022-2025-09-22-multicardz-Multi-Tier-Database-Architecture-v1.md
  docs/architecture/024-2025-09-22-multicardz-Database-Schema-Specifications-v1.md
  docs/architecture/025-2025-09-22-multicardz-Set-Theory-RoaringBitmap-Operations-v1.md
  docs/architecture/026-2025-09-22-multicardz-Progressive-Onboarding-System-Architecture-v1.md
  docs/architecture/027-2025-10-15-multicardz-Outlook-Email-Integration-Architecture-v1.md
  docs/implementation/023-2025-09-22-multicardz-Multi-Tier-Implementation-Plan-v1.md
  docs/implementation/027-2025-09-22-multicardz-Progressive-Onboarding-Implementation-Plan-v1.md
  docs/implementation/028-2025-10-15-multicardz-Outlook-Email-Integration-Implementation-v1.md
  docs/implementation/superseded/005-2025-09-16-multicardz-Implementation-Sequence-v1.md
  docs/implementation/superseded/006-2025-09-17-multicardz-Admin-Implementation-Plan-v1.md
  docs/implementation/superseded/008-2025-09-17-multicardz-Market-Data-UI-Implementation-Plan-v1.md
  docs/implementation/superseded/010-2025-09-18-multicardz-Polymorphic-Rendering-Implementation-Plan-v1.md
  docs/implementation/superseded/016-2025-09-20-multicardz-Unified-Implementation-Plan-v1 - duplicate.md
  docs/implementation/superseded/016-2025-09-20-multicardz-Unified-Implementation-Plan-v1.md
  docs/implementation/superseded/017-2025-09-21-multicardz-Consolidated-Implementation-Status-v1.md
  docs/implementation/superseded/018-2025-09-20-multicardz-Set-Operations-Performance-Remediation-Plan-v1.md
Due: none

feat: add development/test mode requirements for auth bypass
  docs/requirements/auth-subscription-user-management-requirements.md
Due: none

docs: add public website architecture and implementation plan
  docs/architecture/032-2025-10-22-multicardz-Public-Website-Analytics-Architecture-v1.md
  docs/implementation/032-2025-10-22-multicardz-Public-Website-Implementation-Plan-v1.md
Due: none

feat: add landing page database schema and PostgreSQL setup
  .env.public
  apps/public/alembic.ini
  apps/public/config/__init__.py
  apps/public/config/database.py
  apps/public/migrations/env.py
  apps/public/migrations/script.py.mako
  apps/public/migrations/versions/20251023_0011_25a8d12d52be_create_landing_page_tables.py
  apps/public/pyproject.toml
  apps/public/tests/conftest.py
  apps/public/tests/features/landing_page_schema.feature
  apps/public/tests/fixtures/landing_page_fixtures.py
  apps/public/tests/step_defs/test_landing_page_schema.py
  data/multicardz_dev.db
  docs/implementation/032-2025-10-22-multicardz-Public-Website-Implementation-Plan-v1.md
  pyproject.toml
  uv.lock
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: create analytics database tables for public website
  apps/public/migrations/versions/20251023_0026_8dc6d9c14aea_create_analytics_tables.py
  apps/public/tests/conftest.py
  apps/public/tests/features/analytics_schema.feature
  apps/public/tests/fixtures/analytics_fixtures.py
  apps/public/tests/step_defs/test_analytics_schema.py
  docs/implementation/032-2025-10-22-multicardz-Public-Website-Implementation-Plan-v1.md
  tests/unit/test_migration_types.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: add conversion funnel and A/B testing database schema
  apps/public/migrations/versions/20251023_0042_4fef33252c0a_create_conversion_tables.py
  apps/public/tests/conftest.py
  apps/public/tests/features/conversion_schema.feature
  apps/public/tests/fixtures/conversion_fixtures.py
  apps/public/tests/step_defs/test_conversion_schema.py
  docs/implementation/032-2025-10-22-multicardz-Public-Website-Implementation-Plan-v1.md
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

Path conditions:
  validate-no-classes: any of: \.py$, but not: ^(tests/|apps/shared/models/)
  validate-set-theory: any of: \.py$
  validate-javascript: any of: \.(js|ts)$
  validate-immutability: any of: \.py$
  validate-imports: any of: \.py$
  validate-two-tier: any of: \.py$
