Repository adamzwasserman/multicardz: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-no-classes, validate-set-theory, validate-javascript, validate-immutability, validate-imports, validate-two-tier

.pre-commit-config.yaml:

repos:
  # Ruff for Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  # MyPy type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic>=2.0.0]

  # Custom architectural validators
  - repo: local
    hooks:
      - id: validate-no-classes
        name: Architectural Purity - No Classes
        entry: python scripts/validate_no_classes.py
        language: system
        files: '\.py$'
        exclude: '^(tests/|apps/shared/models/)'

      - id: validate-set-theory
        name: Architectural Purity - Set Theory Only
        entry: python scripts/validate_set_theory.py
        language: system
        files: '\.py$'

      - id: validate-javascript
        name: Architectural Purity - Minimal JavaScript
        entry: python scripts/validate_javascript.py
        language: system
        files: '\.(js|ts)$'

      - id: validate-immutability
        name: Architectural Purity - Immutability
        entry: python scripts/validate_immutability.py
        language: system
        files: '\.py$'

      - id: validate-imports
        name: Architectural Purity - Import Control
        entry: python scripts/validate_imports.py
        language: system
        files: '\.py$'

      - id: validate-two-tier
        name: Architectural Purity - Two-Tier Cards
        entry: python scripts/validate_two_tier.py
        language: system
        files: '\.py$'

      - id: test-end-to-end
        name: End-to-End Tests (Parallel)
        entry: bash -c "unset VIRTUAL_ENV && export UV_PROJECT_ENVIRONMENT=.venv && uv run pytest tests/step_definitions/ tests/test_card_models_bdd.py tests/test_models_bdd.py tests/test_card_service_integration.py tests/test_end_to_end_workflow.py -n auto --tb=line --maxfail=5 -q"
        language: system
        pass_filenames: false
        always_run: true

Configure pytest for parallel test execution
  .claude/settings.local.json
  pytest.ini
Due: none

Clean up monorepo structure by removing nested repository artifacts
  .claude/settings.local.json
  apps/admin/.gitignore
  apps/admin/README.md
  apps/public/.gitignore
  apps/public/README.md
  apps/static/templates/user_home.html
  apps/user/.gitignore
  apps/user/README.md
Due: none

Add optimized test runner with parallel execution and smart selection
  .githooks/pre-commit
  setup_test_environment.py
  test_runner.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

Improve test infrastructure with timing fixes and coverage optimization
  .claude/settings.local.json
  .coveragerc
  apps/shared/services/set_operations_unified.py
  apps/static/css/user.css
  apps/static/templates/base_wasm.html
  apps/static/templates/user_home.html
  apps/user/main.py
  apps/user/models/__init__.py
  apps/user/routes/__init__.py
  pyproject.toml
  run_tests.py
  test_runner.py
  tests/test_set_operations_performance.py
  uv.lock
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

Complete MultiCardz spatial tag manipulation system implementation
  README_TESTING.md
  apps/static/css/main.css
  apps/static/js/drag-drop.js
  apps/static/templates/base_wasm_backup.html
  apps/user/models/render_request.py
  apps/user/routes/cards_api.py
  coverage.json
  test_runner_profile.stats
  tests/README.md
  tests/api/__init__.py
  tests/api/test_drag_drop_api.py
  tests/artifacts/TESTING_GUIDE.md
  tests/artifacts/comprehensive_test_final.png
  tests/artifacts/comprehensive_test_report.json
  tests/artifacts/final_state.png
  tests/artifacts/multicardz_test_recording.json
  tests/artifacts/responsive_desktop_1440x900.png
  tests/artifacts/responsive_mobile_375x667.png
  tests/artifacts/responsive_tablet_768x1024.png
  tests/artifacts/responsive_test_report.json
  tests/artifacts/responsive_ultrawide_3440x1440.png
  tests/integration/__init__.py
  tests/integration/test_server.py
  tests/playwright/__init__.py
  tests/playwright/test_comprehensive_drag_drop.py
  tests/playwright/test_real_mouse_interactions.py
  tests/playwright/test_responsive_resizing.py
  tests/playwright/test_static_html.py
Due: validate-no-classes, validate-set-theory, validate-javascript, validate-immutability, validate-imports, validate-two-tier

Restore stable MultiCardz system with updated documentation and navigation
  apps/static/templates/base_wasm.html
  docs/architecture/003-2025-09-16-MultiCardz-Rust-Dependencies-Architecture-v1.md
  docs/architecture/005-2025-09-17-MultiCardz-Admin-Site-Architecture-v1.md
  docs/architecture/007-2025-09-17-MultiCardz-Market-Data-UI-Architecture-v1.md
  docs/architecture/009-2025-09-18-MultiCardz-Polymorphic-Rendering-Architecture-v1.md
  docs/architecture/012-2025-09-18-MultiCardz-Data-Transformation-Guidelines-v1.md
  docs/architecture/013-2025-09-18-MultiCardz-System-Tags-Architecture-v1.md
  docs/architecture/014-2025-09-18-MultiCardz-Accessibility-Gap-Analysis-v1.md
  docs/architecture/015-2025-09-18-MultiCardz-Accessibility-Implementation-Plan-v1.md
  docs/architecture/017-2025-09-20-MultiCardz-Set-Operations-Performance-Remediation-Architecture-v1.md
  docs/architecture/ruminations.txt
  docs/biz/updated-sales-bible.md
  docs/implementation/016-2025-09-20-MultiCardz-Unified-Implementation-Plan-v1 - duplicate.md
  docs/implementation/016-2025-09-20-MultiCardz-Unified-Implementation-Plan-v1.md
  docs/implementation/Completed/002-2025-09-16-MultiCardz-JavaScript-Implementation-Plan-v1.md
  docs/implementation/Completed/018-2025-09-20-MultiCardz-Set-Operations-Performance-Remediation-Plan-v1.md
  docs/implementation/Superceeded/005-2025-09-16-MultiCardz-Implementation-Sequence-v1.md
  docs/implementation/Superceeded/006-2025-09-17-MultiCardz-Admin-Implementation-Plan-v1.md
  docs/implementation/Superceeded/008-2025-09-17-MultiCardz-Market-Data-UI-Implementation-Plan-v1.md
  docs/implementation/Superceeded/010-2025-09-18-MultiCardz-Polymorphic-Rendering-Implementation-Plan-v1.md
  docs/standards/architecture-doc-guidelines.md
Due: none

Eliminate all WASM references from codebase - complete purge of WebAssembly terminology
  .claude/agents/codebase-organizer.md
  .claude/agents/timestamp-enforcer.md
  README.md
  apps/static/css/user.css
  apps/static/templates/base.html
  apps/static/templates/base_wasm_backup.html
  apps/static/templates/components/dev_controls.html
  apps/static/templates/components/ui_controls.html
  apps/static/templates/user_home.html
  apps/static/templates/wasm_interface.html
  docs/architecture/007-2025-09-17-MultiCardz-Market-Data-UI-Architecture-v1.md
  docs/implementation/016-2025-09-20-MultiCardz-Unified-Implementation-Plan-v1.md
  docs/implementation/Superceeded/008-2025-09-17-MultiCardz-Market-Data-UI-Implementation-Plan-v1.md
  docs/patents/Continuation-in-Part-Patent-Application.md
  docs/patents/PATENT_INNOVATION_ANALYSIS_2025.md
  docs/standards/architecture-doc-guidelines.md
  docs/standards/implementation-plan-guidelines.md
Due: none

UI & Performance optimizations: Use system sans-serif font, add red dot favicon, optimize Dongle font loading, fix all ports to 8011, defer JS loading after LCP
  README.md
  apps/static/css/user.css.backup
  apps/static/favicon.ico
  apps/static/favicon.svg
  apps/static/fonts/dongle-wordmark.woff2
  apps/static/templates/base.html
  apps/static/templates/user_home.html
  apps/user/main.py
  docs/implementation/002-2025-09-16-MultiCardz-JavaScript-Implementation-Plan-v1.md
  tests/README.md
  tests/artifacts/TESTING_GUIDE.md
  tests/artifacts/comprehensive_test_final.png
  tests/artifacts/comprehensive_test_report.json
  tests/artifacts/multicardz_test_recording.json
  tests/integration/test_server.py
  tests/playwright/test_comprehensive_drag_drop.py
  tests/playwright/test_real_mouse_interactions.py
  tests/playwright/test_responsive_resizing.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

Fix duplicate HTMX loading by adding script load guard
  apps/static/templates/base.html
Due: none

Optimize resource loading and remove unnecessary fonts
  apps/static/css/user.css
  apps/static/templates/base.html
  tests/artifacts/comprehensive_test_final.png
  tests/artifacts/comprehensive_test_report.json
Due: none

Update test artifacts from recent test runs
  tests/artifacts/comprehensive_test_final.png
  tests/artifacts/comprehensive_test_report.json
Due: none

Clean up Playwright tests - keep only useful test
  .env.example
  apps/shared/services/set_operations_unified.py
  apps/static/css/user.css
  apps/static/js/drag-drop.js
  apps/static/js/drag-drop.min.js
  apps/static/templates/base.html
  apps/static/templates/user_home.html
  apps/user/main.py
  apps/user/routes/cards_api.py
  tests/PLAYWRIGHT_TESTS_ANALYSIS.md
  tests/artifacts/comprehensive_test_report.json
  tests/artifacts/responsive_desktop_1440x900.png
  tests/artifacts/responsive_mobile_375x667.png
  tests/artifacts/responsive_tablet_768x1024.png
  tests/artifacts/responsive_test_report.json
  tests/artifacts/responsive_ultrawide_3440x1440.png
  tests/playwright/PLAYWRIGHT_TESTS_ANALYSIS.md
  tests/playwright/test_comprehensive_drag_drop.py
  tests/playwright/test_responsive_resizing.py
  tests/playwright/test_static_html.py
Due: validate-no-classes, validate-set-theory, validate-javascript, validate-immutability, validate-imports, validate-two-tier

Optimize test runner and clean up Playwright test suite
  test_runner.py
  tests/artifacts/final_state.png
  tests/artifacts/multicardz_test_recording.json
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

Update test artifacts with latest recording
  tests/artifacts/final_state.png
  tests/artifacts/multicardz_test_recording.json
Due: none

Consolidate and reorganize implementation documentation
  docs/implementation/002-2025-09-16-MultiCardz-JavaScript-Implementation-Plan-v1.md
  docs/implementation/005-2025-09-16-MultiCardz-Implementation-Sequence-v1.md
  docs/implementation/017-2025-09-21-MultiCardz-Consolidated-Implementation-Status-v1.md
  docs/implementation/Completed/002-2025-09-16-MultiCardz-JavaScript-Implementation-Plan-v1.md
  docs/implementation/Superceeded/005-2025-09-16-MultiCardz-Implementation-Sequence-v1.md
  docs/implementation/Superceeded/016-2025-09-20-MultiCardz-Unified-Implementation-Plan-v1 - duplicate.md
  docs/implementation/Superceeded/016-2025-09-20-MultiCardz-Unified-Implementation-Plan-v1.md
  docs/implementation/Superceeded/018-2025-09-20-MultiCardz-Set-Operations-Performance-Remediation-Plan-v1.md
Due: none

Cherry-pick set operations improvements from main
  apps/shared/services/set_operations_unified.py
  packages/shared/__init__.py
  packages/shared/src/__init__.py
  packages/shared/src/backend/__init__.py
  packages/shared/src/backend/domain/__init__.py
  packages/shared/src/backend/domain/set_operations.py
  packages/shared/src/backend/models/__init__.py
  packages/shared/src/backend/models/card_models.py
  pyproject.toml
  tests/artifacts/final_state.png
  tests/artifacts/multicardz_test_recording.json
  tests/fixtures/__init__.py
  tests/fixtures/foundation_fixtures/__init__.py
  tests/fixtures/foundation_fixtures/set_operations_fixtures.py
  tests/test_foundation_set_operations.py
  tests/test_registry_performance_validation.py
  uv.lock
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

Implement 3-layer adaptive performance optimization system
  apps/shared/services/performance_tracker.py
  apps/shared/services/set_operations_unified.py
  docs/implementation/017-2025-09-21-MultiCardz-Consolidated-Implementation-Status-v1.md
  tests/artifacts/final_state.png
  tests/artifacts/multicardz_test_recording.json
  tests/step_definitions/test_set_operations_steps.py
  tests/test_card_service_integration.py
  tests/test_set_operations_performance.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: implement zero-trust database schema creation (Task 1.1)
  apps/shared/services/database_schema.py
  config/pytest.ini
  config/render.yaml
  task_1_1_time.log
  tests/features/database_schema.feature
  tests/step_definitions/test_database_schema.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: implement workspace-isolated database connections (Task 1.3)
  README_TESTING.md
  RENDER_DEPLOYMENT_GUIDE.md
  apps/shared/services/database_connection.py
  apps/shared/services/database_storage.py
  apps/shared/services/set_operations_unified.py
  apps/static/css/user.css
  apps/static/js/drag-drop.js
  apps/static/templates/base.html
  apps/static/templates/components/card_display.html
  apps/static/templates/user_home.html
  apps/user/main.py
  apps/user/routes/cards_api.py
  coverage.json
  debug_cache_definitive.py
  docs/CACHE_EFFECTIVENESS_BUG_RESOLUTION.md
  docs/IMPLEMENTATION_STATUS_UPDATE.md
  docs/PHASE2_COMPLETION_SUMMARY.md
  docs/architecture/009-2025-09-18-MultiCardz-Polymorphic-Rendering-Architecture-v1.md
  docs/implementation/017-2025-09-21-MultiCardz-Consolidated-Implementation-Status-v1.md
  docs/implementation/028-2025-10-01-multicardz-zero-trust-implementation-plan-v2.md
  docs/patents/Continuation-in-Part-Patent-Application.md
  health_check.py
  pyproject.toml
  render_performance_config.py
  setup_python313_jit.sh
  setup_test_environment.py
  task_1_1_time.log
  task_1_3_time.log
  test_runner.py
  test_runner_profile.stats
  tests/artifacts/multicardz_test_recording.json
  tests/features/database_connection.feature
  tests/fixtures/connection_fixtures.py
  tests/playwright/test_real_mouse_interactions.py
  tests/step_definitions/test_database_connection.py
  tests/test_set_operations_performance.py
  uv.lock
Due: validate-no-classes, validate-set-theory, validate-javascript, validate-immutability, validate-imports, validate-two-tier

feat: implement automatic tag count maintenance (Task 2.2)
  apps/shared/services/tag_count_maintenance.py
  docs/implementation/028-2025-10-01-multicardz-zero-trust-implementation-plan-v2.md
  task_2_2_time.log
  tests/features/tag_count_maintenance.feature
  tests/fixtures/tag_count_fixtures.py
  tests/step_definitions/test_tag_count_maintenance.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

docs: update Task 2.2 execution log with completion metrics
  docs/implementation/028-2025-10-01-multicardz-zero-trust-implementation-plan-v2.md
  task_2_2_time.log
Due: none

feat: Implement zero-trust API routes
  apps/user/routes/cards_api.py
  docs/implementation/028-2025-10-01-multicardz-zero-trust-implementation-plan-v2.md
  task_3_1_time.log
  tests/conftest.py
  tests/features/api_routes.feature
  tests/fixtures/api_fixtures.py
  tests/step_definitions/test_api_routes.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: update templates with workspace context (Task 4.1)
  apps/static/js/drag-drop.js
  apps/static/templates/base.html
  apps/static/templates/components/card_display.html
  apps/static/templates/components/drop_zone.html
  apps/static/templates/user_home.html
  apps/user/template_context.py
  docs/implementation/028-2025-10-01-multicardz-zero-trust-implementation-plan-v2.md
  task_4_1_time.log
  tests/conftest.py
  tests/features/template_workspace.feature
  tests/fixtures/template_fixtures.py
  tests/step_definitions/test_template_workspace.py
Due: validate-no-classes, validate-set-theory, validate-javascript, validate-immutability, validate-imports, validate-two-tier

docs: update Task 5.1 execution log with completion metrics
  docs/implementation/028-2025-10-01-multicardz-zero-trust-implementation-plan-v2.md
  task_5_1_time.log
Due: none

feat: implement tutorial system with tag counts and 4-lesson structure
  apps/shared/data/onboarding_lessons.py
  apps/shared/scripts/populate_lesson_database.py
  apps/static/css/user.css
  apps/static/js/drag-drop.js
  apps/static/templates/components/card_display.html
  apps/static/templates/user_home.html
  apps/user/main.py
  apps/user/models/render_request.py
  apps/user/routes/cards_api.py
Due: validate-no-classes, validate-set-theory, validate-javascript, validate-immutability, validate-imports, validate-two-tier

fix: enable horizontal card wrapping with full-width layout
  apps/static/css/user.css
Due: none

revert: restore original grid layout with left/right controls
  apps/static/css/user.css
Due: none

fix: correct lesson card tags for proper progression
  apps/shared/data/onboarding_lessons.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: implement complete user card and tag creation system
  apps/shared/services/set_operations_unified.py
  apps/static/css/user.css
  apps/static/templates/components/drop_zone.html
  apps/static/templates/components/spatial_grid.html
  apps/static/templates/user_home.html
  apps/user/main.py
  apps/user/routes/cards_api.py
  apps/user/routes/tags_api.py
  docs/implementation/028-2025-10-01-multicardz-zero-trust-implementation-plan-v2.md
  pyproject.toml
  test_cards_layout.py
  test_container_width.py
  test_drag_debug.py
  test_html5_drag.py
  test_layout_quick.py
  test_lesson2_drag.py
  test_lesson_flow.py
  test_lesson_quick.py
  test_real_drag.py
  tests/api/test_drag_drop_api.py
  tests/conftest.py
  tests/test_card_service_integration.py
  tests/test_end_to_end_workflow.py
  tests/test_registry_performance_validation.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

fix: add remove (×) button to all card tags, not just newly added ones
  apps/static/css/user.css
  apps/static/templates/components/card_display.html
Due: none

fix: correct database schema issues and card creation flow
  apps/static/templates/user_home.html
  apps/user/routes/cards_api.py
  apps/user/routes/tags_api.py
  test_tag_drop_persist.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

fix: update card_summaries.tags_json when adding/removing tags
  apps/user/routes/cards_api.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: migrate to zero-trust database schema with UUIDs and inverted indexes
  apps/user/routes/cards_api.py
  apps/user/routes/tags_api.py
  migrations/001_zero_trust_schema.sql
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: update rendering and UI to use zero-trust UUID schema
  apps/static/css/user.css
  apps/static/templates/base.html
  apps/static/templates/user_home.html
  apps/user/routes/cards_api.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

fix: load tags from new schema on page load
  apps/static/templates/user_home.html
  apps/user/main.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

feat: create cards in DOM first, save to DB on Enter/blur
  apps/static/templates/user_home.html
Due: none

feat: add delete buttons to cards and tags
  apps/static/css/user.css
  apps/static/templates/components/card_display.html
  apps/static/templates/user_home.html
  apps/user/routes/cards_api.py
  apps/user/routes/tags_api.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier
