Repository adamzwasserman/multicardz: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-no-classes, validate-set-theory, validate-javascript, validate-immutability, validate-imports, validate-two-tier

validate-no-classes:
  name: Architectural Purity - No Classes
  entry: python scripts/validate_no_classes.py
  language: system

validate-set-theory:
  name: Architectural Purity - Set Theory Only
  entry: python scripts/validate_set_theory.py
  language: system

validate-javascript:
  name: Architectural Purity - Minimal JavaScript
  entry: python scripts/validate_javascript.py
  language: system

validate-immutability:
  name: Architectural Purity - Immutability
  entry: python scripts/validate_immutability.py
  language: system

validate-imports:
  name: Architectural Purity - Import Control
  entry: python scripts/validate_imports.py
  language: system

validate-two-tier:
  name: Architectural Purity - Two-Tier Cards
  entry: python scripts/validate_two_tier.py
  language: system

feat: implement Group Tags testing, benchmarking, and database migration (Phases 6-8)
  .claude/settings.local.json.backup
  .githooks/pre-commit
  apps/shared/services/group_storage.py
  apps/user/routes/group_tags_api.py
  docs/architecture/005-2025-09-17-multicardz-Admin-Site-Architecture-v1.md
  docs/architecture/007-2025-09-17-multicardz-Market-Data-UI-Architecture-v1.md
  docs/architecture/009-2025-09-18-multicardz-Polymorphic-Rendering-Architecture-v1.md
  docs/architecture/012-2025-09-18-multicardz-Data-Transformation-Guidelines-v1.md
  docs/architecture/013-2025-09-18-multicardz-System-Tags-Architecture-v1.md
  docs/architecture/014-2025-09-18-multicardz-Accessibility-Gap-Analysis-v1.md
  docs/architecture/015-2025-09-18-multicardz-Accessibility-Implementation-Plan-v1.md
  docs/architecture/017-2025-09-20-multicardz-Set-Operations-Performance-Remediation-Architecture-v1.md
  docs/implementation/036-2025-10-26-Group-Tags-Implementation-Plan-v1.md
  migrations/003_add_group_tags.sql
  tests/api/test_group_tags_api.py
  tests/conftest.py
  tests/fixtures/database_stub.py
  tests/fixtures/group_fixtures.py
  tests/performance/test_group_performance.py
  tests/unit/test_group_expansion_unit.py
  tests/unit/test_group_storage_unit.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

fix: resolve group tags UX issues
  apps/static/js/app.js
  apps/static/templates/base.html
  apps/static/templates/user_home.html
  docs/support/Group-Tags-User-Guide.md
Due: validate-javascript

fix: dispatch selection events for group tags UI integration
  apps/static/js/drag-drop.js
Due: validate-javascript

fix: resolve group creation by reading workspace/user from page data
  apps/static/js/group-ui-integration.js
Due: validate-javascript

fix: remove infinite recursion in clearTagSelection
  apps/static/js/group-ui-integration.js
Due: validate-javascript

fix: group tags styling and drag-drop integration
  apps/shared/services/group_storage.py
  apps/static/js/group-ui-integration.js
  apps/static/templates/base.html
  apps/user/routes/group_tags_api.py
Due: validate-no-classes, validate-set-theory, validate-javascript, validate-immutability, validate-imports, validate-two-tier

fix: remove user.css conflicts and add member tag preview
  apps/shared/static/styles/group-tags.css
  apps/static/css/user.css
  apps/static/js/group-ui-integration.js
Due: validate-javascript

fix: force Muji styling with !important and reduce group tag size
  apps/shared/static/styles/group-tags.css
  apps/static/css/user.css
Due: none

fix: remove !important anti-pattern, fix cloud container styling
  apps/shared/static/styles/group-tags.css
  apps/static/css/user.css
Due: none

fix: remove final purple .group-tag styles from user.css
  apps/static/css/user.css
Due: none

fix: constrain chevron icon to 10px with higher specificity
  apps/shared/static/styles/group-tags.css
  apps/static/js/group-ui-integration.js
Due: validate-javascript

feat: add stacked appearance to group tags
  apps/shared/static/styles/group-tags.css
Due: none

fix: make stacked shadow more visible and bust cache
  apps/shared/static/styles/group-tags.css
  apps/static/templates/base.html
Due: none

fix: remove earth-tones theme overrides for group tags
  apps/static/css/user.css
Due: none

fix: move group-tags.css to served static directory
  apps/static/styles/group-tags.css
  apps/static/templates/base.html
Due: none

refactor: move group-tags.js to served static directory
  apps/static/js/group-tags.js
Due: validate-javascript

fix: add text color to group tags
  apps/static/styles/group-tags.css
  apps/static/templates/base.html
Due: none

fix: prevent black hover state on group tags
  apps/static/styles/group-tags.css
  apps/static/templates/base.html
Due: none

fix: allow group tags to be dragged to drop zones
  apps/static/js/drag-drop.js
  apps/static/templates/base.html
Due: validate-javascript

fix: enable multi-select tag drag operations and group tag support
  apps/static/js/drag-drop.js
  apps/static/js/group-ui-integration.js
  apps/static/templates/base.html
Due: validate-javascript

fix: eliminate cumulative layout shift through server-side font metrics and column width pre-rendering
  apps/static/css/user.css
  apps/static/js/app.js
  apps/static/js/group-ui-integration.js
  apps/static/templates/base.html
  apps/static/templates/user_home.html
  apps/user/main.py
Due: validate-no-classes, validate-set-theory, validate-javascript, validate-immutability, validate-imports, validate-two-tier

fix: remove CSS transition from clouds to prevent cumulative layout shift
  apps/static/css/user.css
Due: none

docs: remove legacy MultiCardz-named duplicate architecture files
  docs/architecture/005-2025-09-17-MultiCardz-Admin-Site-Architecture-v1.md
  docs/architecture/007-2025-09-17-MultiCardz-Market-Data-UI-Architecture-v1.md
  docs/architecture/009-2025-09-18-MultiCardz-Polymorphic-Rendering-Architecture-v1.md
  docs/architecture/012-2025-09-18-MultiCardz-Data-Transformation-Guidelines-v1.md
  docs/architecture/013-2025-09-18-MultiCardz-System-Tags-Architecture-v1.md
  docs/architecture/014-2025-09-18-MultiCardz-Accessibility-Gap-Analysis-v1.md
  docs/architecture/015-2025-09-18-MultiCardz-Accessibility-Implementation-Plan-v1.md
  docs/architecture/017-2025-09-20-MultiCardz-Set-Operations-Performance-Remediation-Architecture-v1.md
Due: none

fix: enhance tag ID lookup to support tags in any DOM location
  CLAUDE.md
  apps/shared/repositories/card_repository.py
  apps/static/css/user.css
  apps/static/js/drag-drop.js
  apps/static/templates/base.html
  apps/static/templates/components/dimensional_grid.html
  apps/user/main.py
  apps/user/routes/cards_api.py
  docs/architecture/040-2025-11-09-multicardz-Tag-ID-Standardization-Architecture-v1.md
  docs/implementation/041-2025-11-09-multicardz-Tag-ID-Standardization-Implementation-Plan-v1.md
Due: validate-no-classes, validate-set-theory, validate-javascript, validate-immutability, validate-imports, validate-two-tier

test: add comprehensive BDD tests for stateCache DATAOS violations (RED phase)
  tests/conftest.py
  tests/features/dataos-cache-violations.feature
  tests/step_definitions/test_dataos_cache_violations_steps.py
Due: validate-set-theory, validate-immutability, validate-imports, validate-two-tier

test: add BDD tests for selectedTags Set DATAOS violations (RED phase)
  tests/features/dataos-selectedtags-violations.feature
  tests/step_definitions/test_dataos_selectedtags_violations_steps.py
Due: validate-set-theory, validate-immutability, validate-imports, validate-two-tier

test: add BDD tests for draggedElements array DATAOS violations (RED phase)
  tests/features/dataos-draggedelements-violations.feature
  tests/step_definitions/test_dataos_draggedelements_violations_steps.py
Due: validate-set-theory, validate-immutability, validate-imports, validate-two-tier

fix: eliminate DATAOS violations by removing state caching and duplication
  apps/static/js/drag-drop.js
  docs/implementation/044-2025-11-10-DATAOS-Violations-Fix-Implementation-Plan-v2.md
  tests/features/dataos_compliance.feature
  tests/fixtures/foundation_fixtures/card_architecture_fixtures.py
  tests/playwright/test_dataos_compliance.py
  tests/playwright/test_dataos_performance_benchmarks.py
  tests/test_foundation_card_architecture.py
  tests/test_foundation_set_operations.py
  tests/test_registry_performance_validation.py
  tests/test_set_operations_performance.py
  tests/test_ui_mode_switching.py
Due: validate-set-theory, validate-javascript, validate-immutability, validate-imports, validate-two-tier

fix: add description field to card template context for persistence
  apps/user/routes/cards_api.py
Due: validate-no-classes, validate-set-theory, validate-immutability, validate-imports, validate-two-tier

docs: complete DATAOS task cleanup and add accX migration plan
  .claude/agents/build.md
  docs/analysis/045-2025-11-10-BDD-Test-Implementation-Failure-Analysis-v1.md
  docs/architecture/041-2025-11-10-DATAOS-Alignment-Assessment-Report-v1.md
  docs/architecture/041-2025-11-11-Playwright-User-Action-Testing-Strategy-v1.md
  docs/architecture/043-2025-11-10-tagsInPlay-DATAOS-Violation-Report-v1.md
  docs/implementation/041-2025-11-09-multicardz-Tag-ID-Standardization-Implementation-Plan-v1.md
  docs/implementation/041-2025-11-11-Playwright-User-Action-Testing-Implementation-Plan-v1.md
  docs/implementation/042-2025-11-12-accX-Migration-Implementation-Plan-v1.0.md
  docs/implementation/044-2025-11-10-DATAOS-Violation-Fix-Implementation-Plan-v1.md
  docs/implementation/2025-01-13-bd107-card-description-implementation-plan-v1.md
  docs/implementation/bd-127-Card-Description-BDD-Tests-Implementation.md
  docs/standards/implementation-plan-guidelines.md
  scripts/create-tag-id-standardization-bd-structure.sh
  tests/features/card_description.feature
  tests/step_definitions/test_card_description_steps.py
  tests/step_definitions/test_dataos_cache_violations_steps.py
Due: validate-set-theory, validate-immutability, validate-imports, validate-two-tier

docs: add comprehensive accX migration implementation plan
  docs/implementation/002-20251113-accx-migration-implementation-plan-v1.0.md
Due: none

docs: complete Phase 1 of accX migration - accessibility audits
  docs/accessibility-audit.md
  docs/keyboard-audit.md
  tests/features/accessibility-current.feature
  tests/step_definitions/test_accessibility_current_steps.py
Due: validate-set-theory, validate-immutability, validate-imports, validate-two-tier

Path conditions:
  validate-no-classes: any of: \.py$, but not: ^(tests/|apps/shared/models/)
  validate-set-theory: any of: \.py$
  validate-javascript: any of: \.(js|ts)$
  validate-immutability: any of: \.py$
  validate-imports: any of: \.py$
  validate-two-tier: any of: \.py$
